<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Slider - Multiple sliders</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="../../external/jquery/jquery.js"></script>
    <script src="../../ui/core.js"></script>
    <script src="../../ui/widget.js"></script>
    <script src="../../ui/mouse.js"></script>
    <script src="../../ui/slider.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #eq > span {
            height: 120px;
            float: left;
            margin: 15px
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(function () {
            // setup master volume
            $("#master").slider({
                // value: 60,
                orientation: "horizontal",
                range: false,
                min: 1600,
                max: 2500,
                values: [1600],
                stop: function (event, ui) {

                    var value = ui.values[0];

                    // AJAX request
                    $.ajax({
                        url: '/api/motor/base/' + value,
                        type: 'get',
                        success: function (response) {
                        }
                    });
                    // $("#eq > span").each(function () {
                    //     // read initial values from markup and remove that
                    //     var value = parseInt($(this).text(), 10);
                    //     $(this).empty().slider({
                    //         value: value,
                    //         range: "min",
                    //         animate: true,
                    //         orientation: "vertical"
                    //     });
                    // });
                }
            })
            $("#master2").slider({
                // value: 60,
                orientation: "horizontal",
                range: false,
                min: 1300,
                max: 1700,
                values: [1500],
                stop: function (event, ui) {

                    var value = ui.values[0];

                    $.ajax({
                        url: '/api/motor/shoulder/' + value,
                        type: 'get',
                        success: function (response) {
                        }
                    });
                }
            })
        })
    </script>
</head>
<body>

<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
    <span class=" " style="float:left; margin:-2px 5px 0 0;"></span>
    gladOS
</p>

<table><tr><td>Base</td><td><div id="master" style="width:175px; margin:15px;"></div></td></tr>
    <tr><td>shoulder</td><td><div id="master2" style="width:175px; margin:15px;"></div></td></tr></table>
<!--<div id="master2" style="width:175px; margin:15px;"></div>-->
<!--<div id="master3" style="width:175px; margin:15px;"></div>-->
<!--<div id="master4" style="width:175px; margin:15px;"></div>-->


</body>
