<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Slider - Multiple sliders</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="../../external/jquery/jquery.js"></script>
    <script src="../../ui/core.js"></script>
    <script src="../../ui/widget.js"></script>
    <script src="../../ui/mouse.js"></script>
    <script src="../../ui/slider.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #eq > span {
            height: 120px;
            float: left;
            margin: 15px
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(function () {
            // setup master volume
            $("#master").slider({
                // value: 60,
                orientation: "horizontal",
                range: false,
                min: 1600,
                max: 2500,
                values: [1600],
                slide: function (event, ui) {
                    var value = ui.values[0];
                    $.ajax({
                        url: '/api/motor/base/' + (2500-(value-1600)),
                        type: 'get',
                        success: function (response) {
                        }
                    });
                }
            })
            $("#master2").slider({
                orientation: "horizontal",
                range: false,
                min: 1300,
                max: 1700,
                values: [1500],
                slide: function (event, ui) {
                    var value = ui.values[0];
                    $.ajax({
                        url: '/api/motor/shoulder/' + value,
                        type: 'get',
                        success: function (response) {
                        }
                    });
                }
            })
            $("#master3").slider({
                orientation: "horizontal",
                range: false,
                min: 600,
                max: 1000,
                values: [800],
                slide: function (event, ui) {
                    var value = ui.values[0];
                    $.ajax({
                        url: '/api/motor/elbow/' + value,
                        type: 'get',
                        success: function (response) {
                        }
                    });
                }
            })
         $("#master4").slider({
                    orientation: "horizontal",
                    range: false,
                    min: 1200,
                    max: 2500,
                    values: [800],
                    slide: function (event, ui) {
                        var value = ui.values[0];
                        $.ajax({
                            url: '/api/motor/head/' + value,
                            type: 'get',
                            success: function (response) {
                            }
                        });
                    }
                })
            })

    </script>
    <script>
        $(document).ready(function(){
            $("#led").click(function(){
                if($("#led").prop("checked") == true){
                    console.log("fired1");
                    $.ajax({
                        url: '/api/led/17/on',
                        type: 'get',
                        success: function (response) {}
                    });
                }
                else if($("#led").prop("checked") == false){
                    console.log("fired2");
                    $.ajax({
                        url: '/api/led/17/off',
                        type: 'get',
                        success: function (response) {}
                    });
                }
            });
        });
    </script>
</head>
<body>

<p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
    <span class=" " style="float:left; margin:-2px 5px 0 0;"></span>
    gladOS
</p>

<table><tr><td>Base</td><td><div id="master" style="width:175px; margin:15px;"></div></td></tr>
    <tr><td>shoulder</td><td><div id="master2" style="width:175px; margin:15px;"></div></td></tr>
    <tr><td>elbow</td><td><div id="master3" style="width:175px; margin:15px;"></div></td></tr>
    <tr><td>head</td><td><div id="master4" style="width:900px; margin:15px;"></div></td></tr>
    <tr><td>eye</td><td><input type="checkbox" id="led"></td></tr>
</table>



</body>
